html {
    background-color: #ffffff;
    width: 550px;
}

body{
    width: 550px;
    padding:8px;
    height:100%;
}

.tab-content{
    margin-top:20px;
}

#system-evaluation-icon{
    text-align: center;
    padding-top: 3vh;
}

#system-evaluation-decision{
    text-align: center;
    padding-bottom: 3vh;
}

#content .form-group{
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid gray;
}

#content .form-group > * {
    vertical-align: middle;
}

#content label{
    display:inline-block;
    width:74%;
}

#sendEvaluationContainer{
    text-align: center;
    margin: 0 auto;
}

.option{
    text-align:right;
    margin-right:35px;
}
.option p{
    margin:0;
    width:27px;
    text-align:center;
    vertical-align:middle;
    font-size: 10px;
    display: inline-table;
}

#messageBox{
    font-size: 8pt;
    text-transform: none;
}

.panel-custom > .panel-heading {
    background-color: #e89244;
    color: white;
}


#logo{
    width: 130px;
}

#container{
    min-width: 310px;
    height: 120px;
    max-width: 600px;
    margin: 0 auto;
}

#spinner{
    display: none;
}

input[type = button]{
    text-transform: none;
    margin-right: 1%;
    margin-bottom: 5%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 2%;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 4%;
    float: left;
}

#torDownload label{
    margin-bottom:-10px;
    margin-right: 2%;
}

.dropdown{
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-left: -100px;
}








